<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<display-name>Stocks POC</display-name>
	
	<servlet>
		<servlet-name>stocks.poc</servlet-name>
		<servlet-class>Origin</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>stocks.poc</servlet-name>
		<url-pattern>/stocks</url-pattern>
	</servlet-mapping>
	
</web-app>